body {
    background-color: white;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

hr {
    margin-left: 15%;
    margin-right: 15%;
    border-width:2px;
    border-color: black;
}

.webTitle{
    background-color: rgb(0, 53, 169);
    color: black;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    border-bottom-color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-width: 3px;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.tabContainer{
    list-style-type: none;
    padding-top: 15px;
    background-color: rgb(247, 39, 23);
    color: black;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    border-top-color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 6%;
    padding-right: 6%
}

.tabContainer li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 150%;
    align-items: center;
}

#tabButton a {
    text-decoration: none;
    color:black;
}

#tabButton a:hover{
    color:white;
    cursor: pointer;
}

.pageHeader {
    text-align: center;

}

.section {
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

.section h3 {
    text-align: center;
}

sup {
    opacity: 50%;
}

sup:hover{
    opacity: 100%;
    cursor: pointer;
}

img {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
}

.sectionContent p {
    text-indent: 5%;
}

.inline_images {
    margin: 10px;
}

video {
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    padding: 0;
    margin: 0;
}

.table_of_contents {
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    width:fit-content;
    margin-left:auto;
    margin-right: auto;
}

blockquote {
    font-size: 13px;
}

.works_cited {
    padding-left: 50px;
    text-indent: -50px;
}

.table_of_contents a {
    text-decoration: none;
    color: black;
}

.table_of_contents a:hover {
    opacity: 50%;
}